<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.imvoice.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.imvoice.app.MainActivity"
            android:label="@string/app_name" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name="me.imvoice.app.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.imvoice.app.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="me.imvoice.example.classes.SiderbarTester"
            android:label="@string/title_activity_siderbar_tester" >
        </activity>
        <activity
            android:name="me.imvoice.example.classes.TabTester"
            android:label="@string/title_activity_tab_tester" >
        </activity>
        <activity
            android:name="me.imvoice.app.MainNotLoginActivity"
            android:label="@string/title_activity_main_not_login" >
        </activity>
        <activity
            android:name="me.imvoice.app.ArticleActivity"
            android:label="@string/title_activity_article"
            android:parentActivityName="me.imvoice.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.imvoice.app.MainActivity" />
        </activity>
        <activity
            android:name="me.imvoice.app.CommentActivity"
            android:label="@string/title_activity_comment"
            android:parentActivityName="me.imvoice.app.ArticleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.imvoice.app.ArticleActivity" />
        </activity>
        <activity
            android:name="me.imvoice.app.UserInfoActivity"
            android:label="@string/action_user" >
        </activity>
        <activity
            android:name="me.imvoice.app.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName="me.imvoice.app.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.imvoice.app.LoginActivity" />
        </activity>
    </application>

</manifest>
